@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scrollbar-width: none;
  /* Firefox */
}

body::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}
.swiper {
  width: 70vw;
  height: 30vw;
}

.swiper-slide {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
@media (max-width: 480px) {
  .swiper {
    /* margin-left: 5% !important; */
    width: 80vw;
  }
}